<template>
  <div class="wrapper">
    <header class="main-header">
      <router-link tag="span" to="/overview"><a class="logo" href="#"><span class="logo-lg">BrainIs</span></a></router-link>
      <nav class="navbar navbar-static-top">
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a>
      </nav>
    </header>
    <div class="sidebar-wrapper">

    <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar Menu -->
          <ul class="sidebar-menu tree" data-widget="tree">
            <router-link tag="li" to="/overview" active-class="active"><a><i class="fa fa-binoculars"></i><span>Přehled</span></a></router-link>
          </ul>
          <!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
      </aside>

    </div>
    <div class="content-wrapper">
      <router-view></router-view>
    </div>
    <footer class="main-footer hidden-print">
      <confirmation-modal :show-model="showConfirmationModal" :text="confirmationText" @cancel="confirmationCancel()" @confirm="confirmationDone()"></confirmation-modal>
      <span class="text-muted pull-right">Copyright &copy; 2017 <a href="http://www.jedleknedle.sk" target="_blank">Smartbrains solutions s.r.o.</a> </span>
      <div class="clearfix"></div>
    </footer>
  </div>
</template>

<script>
  import authService from 'services/authService';
  import {mapGetters, mapState} from 'vuex';
  import eventBus from 'services/eventBus';
  import confirmationModal from 'components/confirmationModal';
  import i18n from 'i18n/';

  export default {
    components: { confirmationModal },
    data: () => ({
        showConfirmationModal: false,
        confirmationText: null,
        placement: 'top',
        type: 'default'
    }),
    computed: {
      ...mapState({
        user: (state) => state.auth.user
      }),
      ...mapGetters({
        loggedIn: 'auth/loggedIn',
        hasRole: 'auth/hasRole'
      })
    },
    methods: {
      logout () {
        authService.logOut();
        this.$store.dispatch('auth/logOut');
        this.$router.push('/login');
      },
      confirmationCancel() {
          eventBus.$emit('cancelled');
          this.showConfirmationModal = false;
      },
      confirmationDone() {
          eventBus.$emit('confirmed');
          this.showConfirmationModal = false;
      }
    },
    mounted() {
      eventBus.$on('confirmAction', (confirmationTextKey, args) => {
          this.showConfirmationModal = true;
          this.confirmationText = i18n.message(confirmationTextKey, args);
      });
    }
  }
</script>
